body {
  font-family: Arial, sans-serif;
  background-image: url(moon_image.jpeg);
  background-size: cover;
  text-align: center;
  font-weight: bold;
  color: azure;
  font-family: "Shrikhand", cursive;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.title {
  margin: 55px;
  max-width: 800px;
  margin: 0 auto;
}

.topnav {
  margin-left: 200px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

li {
  list-style: none;
  margin: 5px 0;
  /* color: white;
        font-weight: bold; */
}

.media {
  display: inline-flex;
  flex-direction: row;
}

footer {
  color: white;
}
